@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w-inherit {
  width: inherit;
}

.textColorPrimary {
  color: #0d0d54;
}

.textColorSecondary {
  color: #4040f2;
}

.textColorThird {
  color: #6363f6;
}

.textColorFourth {
  color: #242d35;
}

.textColorFifth {
  color: #373f47;
}

.sectionTitle {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: #242d35;
}

.input {
  width: 18rem;
  padding: 0.37rem 0.25rem;
  border: 1px solid rgb(209 213 219);
  border-radius: 0.275rem;
}

.select {
  width: 18rem;
}

.select .css-t3ipsp-control {
  outline: #6366f1 auto 1px !important;
  box-shadow: none !important;
}

.input:focus {
  outline: #6366f1 auto 1px;
}
